estoquews/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AutorizacaoFault" nillable="true" type="xs:string"/>

      <xs:element name="CadatrarItem" type="tns:CadatrarItem"/>

      <xs:element name="CadatrarItemResponse" type="tns:CadatrarItemResponse"/>

      <xs:element name="TodosItens" type="tns:TodosItens"/>

      <xs:element name="TodosItensResponse" type="tns:TodosItensResponse"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="token" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="CadatrarItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string" minOccurs="0"/>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="quantidade" type="xs:int"/>
          <xs:element name="tipo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadatrarItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TodosItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="TodosItensResponse">
        <xs:sequence>
          <xs:element name="itens" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="CadatrarItem">
    <part name="parameters" element="tns:CadatrarItem"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="CadatrarItemResponse">
    <part name="result" element="tns:CadatrarItemResponse"/>
  </message>
  <message name="AutorizacaoException">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <message name="TodosItens">
    <part name="parameters" element="tns:TodosItens"/>
  </message>
  <message name="TodosItensResponse">
    <part name="parameters" element="tns:TodosItensResponse"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="CadatrarItem" parameterOrder="parameters token">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadatrarItemRequest" message="tns:CadatrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadatrarItemResponse" message="tns:CadatrarItemResponse"/>
      <fault message="tns:AutorizacaoException" name="AutorizacaoException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadatrarItem/Fault/AutorizacaoException"/>
    </operation>
    <operation name="TodosItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensRequest" message="tns:TodosItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensResponse" message="tns:TodosItensResponse"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CadatrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:CadatrarItem" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoException">
        <soap:fault name="AutorizacaoException" use="literal"/>
      </fault>
    </operation>
    <operation name="TodosItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

